body{
    background-color: antiquewhite;
}
#galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.kepek{
    width: 80%;
}
img{
    width: 100%;
}
header,article,main{
    border: 1px solid rgb(247, 0, 0);
    padding: 10px;
}
main{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "h h"
    "ar ar";
	margin: 40px;
}
header{
    grid-area:h;
}
article{
    grid-area:ar ;
}

.jobbcss{
    float:right;
}
.balcss{
    float: left;
}
@media screen and (max-width: 600px){ 
	main{
    grid-template-columns: 1fr;
    grid-template-areas:
    "h "
    "ar";
    }
    #galeria{
        display: grid;
        grid-template-columns: 1fr;
    }
	
	
} 